@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* universal */
body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: rgba(19, 19, 19, 1);
}
li{
    list-style: none;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dark-1{
    color: rgba(19, 19, 19, 1);
}
.dark-2
{
    color: rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}
.background-color-1{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    font-size: 20px;
    padding: 20px 25px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}


/* header */
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
}
.brand-name{
    font-size: 2.8125rem;
    font-weight: bold;
}
.nav-item > a{
    font-weight: 500;
    font-size: 1.125rem;
    color: rgba(66, 66, 66, 1);
}
.nav-links{
    display: flex;
    gap: 3.75rem;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 5.3125rem;
}
.banner-description{
    font-size: 1rem;
}
.banner-image{
    width: 100%;
}
.banner-btn{
    margin-top: 2rem;
}
/* header responsive */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
    }
}

/* main */

main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-1{
    display: flex;
    justify-content: flex-start;
    gap: 4.5645rem;
    margin-top: 5.3125rem;
}
.sec-1-main-images-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}
.description-div{
    display: flex;
    align-items: center;
}
.sec-1-main-description
{
    max-width:  537px;
    max-height: 304px;
}
.image1{
    grid-auto-rows: 1;
    grid-column-start: 1;
}
.image2{
    grid-row-start: 1;
    grid-column-start: 2;
}
.image3{
    grid-row-start: 2;
    grid-column-start: 1;
}
.image4{
    grid-row-start: 2;
    grid-column-start: 2;
}
.image{
    max-width: 342px;
    max-height: 343px;
}
.grid-image{
    width: 100%;
}
.sec-1-main-heading{
    font-size: 2.8125rem;
}
.sec-1-description{
    margin-top: 1.5rem;
}


/* section-1 part */
@media screen and (max-width: 576px) {
    .section-1{
        flex-direction: column;
        gap: 2rem;
        padding: 5px;
    }
    .main-btn{
        width: 100%;
    }
    
}
